@import "src/common/styles/sass/variables.scss";

.contactsBlock {
  //height: 40vh;
  background-color: $bgSecondColor;

  .contactsContainer {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;

    .contactForm {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      input, textarea {
        width: 100%;
        margin-bottom: 5px;
      }

      .submitBtn {
        padding: 10px 20px;
        background-color: $primaryColor;
      }

      @media screen and (max-width: 1124px) {
        width: 90%;

      }
    }
  }
}


