@import "src/common/styles/sass/variables";

.nav {
    width: 400px;
    display: flex;
    justify-content: space-between;

    a {
        color: $textColor;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            color: $primaryColor;
        }
    }
    .active {
        color: $primaryColor;
    }
}