@import "src/common/styles/sass/variables";

.title {
  margin-bottom: 30px;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 700;
  color: $textColor;
  line-height: 1.3;
  h2 {
    margin: 0;
  }
  &::before {
    content: "";
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}


