@import "src/common/styles/sass/variables.scss";
@import "src/common/components/button/Button.module";

.contactsBlock {
  background-color: $bgSecondColor;
  padding: 70px 0;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;


    .form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      width: 540px;
      margin-top: 60px;
      @media screen and (max-width: 680px) {
        width: 100%;
      }

      .formArea,
      .messageArea {
        background: $bgSecondColor;
        border: 1px solid #4a4a4a;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 400;
        outline: none;
        color: #c5c5c5;
        margin-bottom: 1.2rem;


        &:-webkit-autofill {
          border: 1px solid #4a4a4a;
          -webkit-text-fill-color: #495057;
          -webkit-box-shadow: 0 0 0 1000px #252257 inset;
          transition: background-color 5000s ease-in-out 0s;

          &:focus {
            border: 2px solid $primaryColor;
          }
        }
      }

      .formArea {
        height: calc(1.5em + .75em + 2px);


        &:focus {
          border: 1px solid $primaryColor;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .messageArea {
        min-height: 160px;
        padding: 15px;
        resize: none;

        &:focus {
          border: 1px solid $primaryColor;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .messageStatus {
        color: $primaryColor;
        text-align: center;
        margin-bottom: -20px;
      }

      .errorMessageStatus {
        color: red;
        text-align: center;
        margin-bottom: -20px;
      }

      button[type="submit"] {
        @extend .btn;
        align-self: center;
        background-color: transparent;
        margin-top: 30px;
      }
    }
  }
}

.errorEmail {
  margin-top: -15px;
  margin-bottom: 15px;
  color: #f34f4f;
}