.projectsBlock {
    background-color: #1F2235;
    padding: 100px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    margin-bottom: 30px;
    position: relative;
}

.title h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    line-height: 1.3;
    letter-spacing: 1px;
}

.title::before {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}


.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (max-width: 1124px) {
    .projects {
        justify-content: center;
    }
}